<div id="info">
	{% include "navigation.html" %}
	<h1>Comics</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu sem, vestibulum ac dui non, rutrum pulvinar felis. In sollicitudin nunc et nunc efficitur aliquam.</p>
	<p>Mauris blandit, nisl vitae convallis pulvinar, felis metus venenatis magna, quis commodo ex odio ut metus. Etiam dignissim ligula ut quam egestas pretium.</p>
	<p>Donec at turpis risus. Cras lectus erat, imperdiet in faucibus eu, vehicula ac tortor. Fusce imperdiet commodo lorem, eget convallis nunc vehicula et.</p>
</div>